<div class="going_project_title">
<div class="width_container">
	<h2>プロジェクト1</h2>

</div>
</div>



<div class="going_project_wrapper">

<div class="width_container">
	<div class="going_project_status">
	
       <div class="going_project_status_summary">
       	<h3>プロジェクトの状況</h3>
       </div>



	</div>
	<div class="going_project_chat_wrapper">
		<h3>チャット</h3>

	</div>


</div>

</div>


