
<div class="width_container">


<div class="sign_up_wrapper">

<h2>ログインする</h2>


<div class="signup_field">

  <div class="field">
    <p>｜</p><br />
   
  </div>

  <div class="field">
    <p>｜</p><br />
   
  </div>
</div>



<div class="signup_btn">
<%= link_to "ログイン", "/mypage" %>

</div>


<p>   <%= link_to "まだアカウントをお持ちではないですか？", "/signup" %></p>


</div>
</div>