<div class="width_container">

<div class="myproject_wrapper">

<h2>あなたのプロジェクト</h2>



<div class="myprojects">

  <li> <%= link_to "プロジェクト1", "/going_project" , class:"project_name" %>

  </li>
  <li> <%= link_to "＋新規プロジェクト", "/new_project" , class:"build_new_project" %></li>



</div>




</div>

</div>



