
<div class="width_container">


<div class="build_new_project_form_wrapper">

<h2>新しくプロジェクトを始める</h2>
<p>新規プロジェクトについて詳細を教えてください</p>

<div class="build_new_project_form">



  <div class="field">

    <p>｜</p><br />
   
  </div>

  <div class="field">
    <p>｜</p><br />
   
  </div>

   <div class="field">
    <p>｜</p><br />
   
  </div>

   <div class="field">
    <p>｜</p><br />
   
  </div>
</div>



<div class="signup_btn">
	作成

</div>




</div>
</div>