
<div class="width_container">


<div class="sign_up_wrapper">

<h2>アカウントを登録する</h2>


<div class="signup_field">

  <div class="field">
    <p>｜</p><br />
   
  </div>

  <div class="field">
    <p>｜</p><br />
   
  </div>

   <div class="field">
    <p>｜</p><br />
   
  </div>

   <div class="field">
    <p>｜</p><br />
   
  </div>
</div>



<div class="signup_btn">
	ログイン

</div>


<p>   <%= link_to "既にアカウントをお持ちですか？", "/login" %></p>


</div>
</div>