
<div class="width_container">
<div class="policy_wrapper">


<h2>特定商取引法に基づく表示</h2>

<br>


 <ul>
  <li>事業者：株式会社Seekle</li>
  </ul>

   <ul>
  <li>サービス名：VR Labo</li>
  </ul>

  <ul>
  <li>所在地：東京都渋谷区道玄坂2-10-12 新大宗ビル3号館5階531</li>
  </ul>
  <ul>
  <li>連絡先：seekle.info@gmail.com</li>
  </ul>
 
   <ul>

  <li>代表者：森川恵美</li>
  </ul>
  <ul>
  <li>支払い方法と期限：銀行振込、銀行振込支払期限につきましては取引によって異なります</li>
  </ul>
   <ul>
  <li>販売価格：各取引によって異なります</li>
  </ul>
 
 <ul>
  <li>商品の引渡時期：各取引によって異なります</li>
  </ul>
   <ul>
  <li>返金・交換：原則として取引確定後の返金・交換は行っておりません。</li>
  </ul>
  </div>


  </div>


