<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
 

 <p>  お見積もりフォームへのご記入ありがとうございました。</p>

<p>VR Laboをご利用いただき、誠にありがとうございます。</br>
1〜2日以内にお見積もり結果を返答させていただきます。</p>
</br>


 <br>============================================================
 <br>
 <br>
<p>< お見積もり内容 ></p>

<p>お名前：  <%= @name %></p>

<p>メールアドレス：  <%= @email %> </p>

<p>電話番号：  <%= @phonenumber %> </p>

<p>ご依頼内容の詳細：  <%= @content %> </p>

 <br>============================================================
<br>

<br>※このEメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。
<br>────────────────────────────────
<br>運営会社：株式会社Seekle
<br>
<br>●お問い合せ
<br>seekle.info@gmail.com
<br>────────────────────────────────
  </body>
</html>

