.about_vrlabo_wrapper{
	
}

.about_vrlabo_wrapper h2{
	padding-top:100px;
}


.about_vrlabo_wrapper{
	height:550px;
	width:100%;
margin:0 auto;

}

.width_container  .about_vrlabo_wrapper a{
	color:white;
}

.about_vrlabo_wrapper h2{
font-weight:400;
margin:auto;
padding-top:14%;
	width:90%;
   font-size:34px;
	color:black;
}

.about_vrlabo_wrapper p{
font-weight:200;
margin:auto;
font-size:22px;
	width:80%;
text-align:center;
margin-top:40px;

}

