.sign_up_wrapper{
padding-top:90px;
padding-bottom:90px;
}

.sign_up_wrapper h2{
	text-align:center;

}

.signup_field{
padding-top:0px;
}


.signup_btn{
		font-size:22px;
	font-weight:normal;
	text-decoration:none;
	display:block;
	text-align:center;
	padding:9px;
	cursor:pointer;
	border:1px solid #333;
	color:#fff;
	box-shadow:2px 2px #555;
	width:26%; 
	background-color:#FF7F50;
	border-radius:3%;
	margin:0 auto;
	margin-top:60px;
}

.sign_up_wrapper p{
margin-top:30px;
	float:right;
	font-size:16px;
}