.mypage-header-right {
	height:35px;
}

.mypage-header-right li{
	font-size:16px;
	float:right;
	font-weight:normal;
	text-decoration:none;
	display:block;
	text-align:center;
	cursor:pointer;
	color:black;


	}

.mypage-header-right li:hover{

	color:#4094ed;
}