.build_new_project_form_wrapper{
  height:900px;

  padding-top:130px;
}

.build_new_project_form_wrapper p{
   text-align:center;
   margin-top:30px;
}
.build_new_project_form_wrapper h2{
 text-align:center;

}


.field_name{
    width:76%;
  margin:0 auto;
}